<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Add Student</h6>
  </div>
  <div class="card-body">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, quo quae pariatur vitae sit ratione excepturi
      libero vero natus molestiae optio dignissimos, voluptatem officia officiis earum tempore commodi ducimus error!.
    </p>
    <a [routerLink]="['new']" class="btn btn-google btn-block"><i class="fab fa-google fa-fw"></i> .btn-google</a>

  </div>
</div>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Student List</h6>
  </div>
  <div class="card-body">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit quod dolorem quas assumenda aut, dolor error
      expedita nam repellat facere fuga quo sequi itaque deserunt quasi dolorum vitae! Expedita, placeat?</p>


    <a [routerLink]="['all-students']" class="btn btn-facebook btn-block"><i class="fab fa-facebook-f fa-fw"></i> .btn-facebook</a>

  </div>
</div>
